@model Facilit.Models.Usuario

@{
    ViewBag.Title = "Editar usuário";
}
@using (Html.BeginForm("atualizarUsuario", "Usuario", FormMethod.Post))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <h2>Editar usuário</h2>
    @Html.Partial("_Frmlogin")

    <br />
    <div class="form-group">
       
        <div class="col-md-offset-2 col-md-10">

            @Html.ActionLink("Voltar", "Perfis_usuario", "Usuario", null, new { @class = "btn btn-secondary" })
            <input type="submit" value="Atualizar" class="btn btn-success" />

        </div>
    </div>

</div> 
 }