@model Facilit.Models.Usuario

@{
    ViewBag.Title = "Index";
}
@if (!String.IsNullOrEmpty(TempData["Mensagem"] as string))
{
    <div id="mensagem">
        <div class="alert alert-danger">
            @TempData["Mensagem"]
        </div>
    </div>
}

<script src="~/Scripts/Mensagem.js"></script>
<script src="~/Scripts/mostrar_senha.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h2 class="fonte_normal">Sistema Facilit</h2>
            <hr />

            @using (Html.BeginForm("VerificarLogin", "usuario"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="fonte_normal">Seja bem-vindo(a) | Informe suas Credenciais</h4>
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome_Usuario, " Usuário:", htmlAttributes: new { @class = "fonte_leve" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nome_Usuario, new { htmlAttributes = new { @class = "campo" } })
                            @Html.ValidationMessageFor(model => model.Nome_Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha_Usuario, "Senha:", htmlAttributes: new { @class = "fonte_leve" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Senha_Usuario, new { @class = "campo" })
                            <button type="button" class="btn btn-secondary" onclick="mostrarSenha()">
                                <i id="iconeSenha" class="fas fa-eye"></i>
                            </button>
                            @Html.ValidationMessageFor(model => model.Senha_Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <p>
                        @Html.ActionLink("Esqueci minha senha", "RecuperarSenha", "Usuario", null, new { @class = "underline-blue" })
                    </p>
                    <br />
                    <div class="form-group">

                        <input type="submit" value="Login" class="btn btn-primary w-100" />



                        <br />

                    </div>
                </div>
                <br />
            }
        </div>


        <div class="col-md-6 text-right">
            <img src="~/imagens/imagem login.png" alt="Imagem ilústrativa de login" class="img-fluid" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
