@model IEnumerable<Facilit.Models.Usuario>

@{
    ViewBag.Title = "Listagem de usuários";
}



    <h2 >Listagem os usuários</h2>


<input />
    
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome completo</th>
            <th scope="col">E-mail</th>
            <th scope="col">Nome de usuário</th>
            <th scope="col">Data de cadastro</th>
            <th scope="col">Data de alteração</th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_completo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Usuario)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Criado)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.Alterado)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </table>
<p>
   @Html.ActionLink("<---- Resgistar seu produto", "Registro", "Webcan")
</p>
