@model Facilit.Models.Usuario

@{
    ViewBag.Title = "RecuperarSenha";
}

<h2>Recuperar Senha</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    </div>
    <h4>Informe o E-mail Cadastrado no Sistema</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" value="Enviar E-mail" class="btn btn-dark" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("<--- login", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
