@model Facilit.Models.Usuario
@{
    ViewBag.Title = "Registro";
}

@if (!String.IsNullOrEmpty(TempData["Mensagem"] as string))
{
    <div id="mensagem" class="alert alert-danger">
        @TempData["Mensagem"]
    </div>
}

<script src="~/Scripts/Mensagem.js"></script>

<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="row">
        <div class="col-md-3">
            <nav class="list-group bg-success bg-gradient" style="height:75%;">
                <button id="btn_salvar" class="btn btn-primary mb-2 mt-8 rounded">
                    <i class="fas fa-camera"></i> Tirar e salvar foto
                </button>
                <div class="btn-group-vertical">
                    <a href="@Url.Action("Gerador_pdf", "Webcan")" class="btn btn-success mb-2 rounded">
                        <i class="fas fa-file-pdf"></i> Gerar PDF
                    </a>
                    <a href="@Url.Action("Notas", "Notas_tiny")" class="btn btn-info mb-2 rounded">
                        <i class="fas fa-search"></i> Pesquisar notas
                    </a>
                    <a href="@Url.Action("ObterEtiquitas", "Etiquetas")" class="btn btn-info mb-2 rounded">
                        <i class="fas fa-tags"></i> Pesquisar etiquetas
                    </a>
                </div>
            </nav>






        </div>
        <div class="col-md-9">
            <h1 class="text-center mb-4">Tire sua Fotografia</h1>

            <div class="row">
                <div class="col-md-6">
                    <h6>Produtos</h6>
                    <input type="text" id="searchProdutos" class="form-control" placeholder="Pesquisar produtos...">
                    @Html.DropDownList("Produtos", ViewBag.listaProdutos as SelectList, "-- Selecione aqui o Produto", htmlAttributes: new { @class = "form-control", @id = "drop_produtos" })
                </div>
                <div class="col-md-6">
                    <h6>Clientes</h6>
                    <input type="text" id="searchClientes" class="form-control" placeholder="Pesquisar clientes...">
                    @Html.DropDownList("Clientes", ViewBag.listarClientes as SelectList, "-- Selecione aqui o Cliente", htmlAttributes: new { @class = "form-control", @id = "drop_clientes" })
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <video class="img-fluid" autoplay></video>
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <canvas class="img-fluid"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/webcan.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchProdutos').on('keyup', function () {
                var searchText = $(this).val().toLowerCase();
                $('#drop_produtos option').each(function () {
                    if ($(this).text().toLowerCase().indexOf(searchText) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });

            $('#searchClientes').on('keyup', function () {
                var searchText = $(this).val().toLowerCase();
                $('#drop_clientes option').each(function () {
                    if ($(this).text().toLowerCase().indexOf(searchText) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}
